<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TestServer" type="Adf.Config.IpGroupSection,Adf"/>
    <!--<section name="TestServer" type="Adf.Cs.CsRegistrySection,Adf.Cs"/>-->
    <section name="TestQueue" type="Adf.Config.IpGroupSection,Adf"/>
  </configSections>
  <appSettings>
    <!--<add key="Name" value="CS Service"/>-->
    <add key="Log:Path" value="D:\Logs\Adf.Cs\TestClient"/>
    <!-- 日志刷新时间间隔(秒) -->
    <add key="Log:FlushInterval" value="10"/>
    <!-- 日志禁用 -->
    <!--<add key="Log:Disabled" value="all"/>-->
    
  </appSettings>
  <TestQueue>
    <add ip=".\private$\test" port="0"/>
    <add ip=".\private$\test" port="0"/>
  </TestQueue>
  <!-- Servers -->
  <TestServer>
    <!--<add ip="127.0.0.1" port="200"/>-->
    <add ip="127.0.0.2" port="4562"/>
    <add ip="127.0.0.3" port="4562"/>
    <add ip="127.0.0.4" port="4562"/>
  </TestServer>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
