<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Registry" type="Adf.Config.IpGroupSection,Adf"/>
    <section name="ServerMap" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <!-- 服务映射 -->
  <ServerMap>
    <add key="Test" value="TestServer.ServerTest,TestServer"/>
  </ServerMap>
  <appSettings>
    <add key="ServiceMonitorPort" value="4561"/>
    <add key="Port" value="4562"/>

    <add key="Log:Path" value="D:\logs\Adf.Cs\TestServer"/>
    <!-- 日志刷新时间间隔(秒) -->
    <add key="Log:FlushInterval" value="10"/>
    <!-- 日志禁用 -->
    <!--<add key="Log:Disabled" value="all"/>-->
    <!-- 缓存器配置，默认不配置情况下寻找Adf.Web.WebProgressCache,Adf.Web,  -->
    <!--<add key="Adf.Cs:CacheType" value="Adf.MemcachePool,Adf"/>-->

    <!-- 是否记录缓存删除日志，默认: false -->
    <!--<add key="Adf.Cs:LogCacheDelete" value="true/false"/>-->
    
  </appSettings>

  <!-- Registry Server List, check is register period,  suggest: ip use dns name  -->
  <!--<Registry>
    <add ip="127.0.0.1" port="200"/>
    <add ip="192.168.199.12" port="200"/>
  </Registry>-->
  
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
